*{
    padding: 0px;
    margin: 0px;
}
.flex{
    display: flex;
}
input[type="text"]{
    width: 150px;
}
.contenedor{
    width: 250px;
    height: auto;
    padding: 20px;
    background-color: gray;
}
.contenedor1{
    width: 250px;
    height: auto;
    padding: 20px;
    background-color: gray;
}
textarea{
    resize: none;
    height: 40px;
  }