*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("fondo.jpg");
    background-position:top;
    background-attachment: fixed;
    min-width: 1080px;
    max-width: fit-content;
    /* width: 3800px; */
}
p{
    display: inline-block;
    padding: 5px;
}

.flex{
    /* display: inline; */
    padding-top: 100px;
    display: flex;
    /* justify-content: center; */
    /* align-items:flex-start; */
}
#añadirzona{
    width: 150px;
    height: 115px;
    line-height: -40px;
    padding: 20px 20px 20px 20px; 
    margin-right: 50px;
    font-size: 20px ;
    margin-top: 115px;
}
.container{
    display: flex;
    align-items: flex-start;
}
ul{
    padding-inline-start: 0px;
}
li{
    list-style: none;
    margin: 5px;
    border-radius: 15px;
    background-color: greenyellow;
    padding: 15px;
}
.zonast{
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    display: inline-block;
    width: 300px;
    background-color: rgb(179, 179, 179);
}
input{
    height: 30px;
}
button{
    height: 37px;
    width: 122px;
}
.btn-delete{
    margin-top: 0px;
    margin-right: 10px;
    box-shadow: rgba(40, 46, 42, 0.678) 2px 2px 5px 0px;
    float: right;
    height: 28px;
    width: 28px;
    background-color: rgb(255, 0, 0);
    border-radius: 50px;
    font-weight: bold;
    color: white;
}
.btn-delete:hover{
    background-color: rgb(211, 0, 0);
    box-shadow: rgb(255, 0, 0) 0px 0px 5px 3px;
    cursor: pointer;
}
.titulos{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(60, 255, 0);
    font-size: 30px;
    font-weight: bold;
    width:100%;
    text-align: center;
    
}

input:focus{
    outline:none;
}